* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Light', sans-serif;
}
.game-interface {
    width: 500px;
    height: auto;
    margin: 20px auto 30px auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title-name {
    font-size: 30px;
    color: #776e65;
    font-weight: 700;
}

.game-params {
    display: flex;
}

.game-check {
    background-color: #bbada0;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}

.game-check span {
    font-size: 30px;
    line-height: 30px;
}

.game-check span strong {
    color: #fff9c0;
}

.game-best-player {
    background-color: #bbada0;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
}

.game-best-player span {
    font-size: 30px;
    line-height: 30px;
}

.game-best-player span strong {
    color: #fff9c0;
}

.game-button {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    background: #8f7a66;
    color: #fff9c0;
    padding: 15px 30px;
    border-radius: 10px;
}

.button:hover {
    background: #8f7a50;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}

.game-container {
    margin-top: 40px;
    background: #bbada0;
    border-radius: 10px;
    width: 475px;
    height: 475px;
    padding: 15px 15px;
    position: relative;
}

.game-row {
    display: grid;;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    /*grid-row-gap: 15px;*/
}

.game-cell {
    /*background: #fd3b29;*/
    background: #776e65;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
}

.game-cell-two {
    background: #eee4da;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
}

.game-cell-four {
    background: #ede0c8;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
}

.game-cell-eight {
    background: #f2b179;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
}

.game-cell-sixteen {
    background: #f59563;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
}

.game-cell-thirty-two {
    background: #f67c5f;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
}

.game-cell-sixty-four {
    background: #f65e3b;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
}

.game-cell-hundred-twenty-eight {
    background: #edcf72;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
}

.game-cell-two-hundred-fifty-six {
    background: #edcc61;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
}

.game-cell-five-hundred-twelve {
    background: #edc850;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
}



.chislo {
    font-size: 30px;
}

.control {
    display: flex;
    justify-content: end;
    margin-right: 100px;
    position: relative;
    bottom: 200px;
}

.button-control-vertical {
     background: #FF4500;
     color: #f2b179;
     width: 30px;
     height: 50px;
     border-radius: 5px;
     position: relative;
    left: 80px;
    cursor: pointer;
}

.button-control-vertical-gameover {
    background: #515359;
    color: #f2b179;
    width: 30px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    left: 80px;
}

.button-control-vertical:hover {
    background: #FF4530;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

.button-control-horizontal {
    background: #FF4500;
    color: #f2b179;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.button-control-horizontal-gameover {
    background: #515359;
    color: #f2b179;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.button-control-horizontal:hover {
    background: #FF4530;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

.horizontal {
    width: 130px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.button-control-vertical-down {
    background: #FF4500;
    color: #f2b179;
    width: 30px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    left: -80px;
    top: 100px;
    cursor: pointer;
}

.button-control-vertical-down-gameover {
    background: #515359;
    color: #f2b179;
    width: 30px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    left: -80px;
    top: 100px;
}

.button-control-vertical-down:hover {
    background: #FF4530;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

.alert-gameover {
    position: absolute;
    top: 140px;
    left: 0px;
    z-index: 100;
    background: grey;
    width: 475px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.text-gameover
{
    color: darkred;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: xx-large;
    margin-top: 70px;
    margin-left: 140px;
}