@media (max-width: 1980px) {
    .close-button {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 0.2;
    }

    .warning-display {
        font-weight: 700;
        font-size: xx-large;
        margin: 30px 0;
    }

    .form-group-upload {
        margin: 30px 0;
    }

    .button {
        font-size: 20px;
    }

    .param-img {
        width: 30px;
    }

}